.dialog{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background: #000000af;
    /* display: flex;
    align-items:center;
    justify-items: center; */
}

.dialog-weapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 500px;
    background-color: #fff;
}
