table {
    font-size: 13px;
    width: 100%;
}

table thead {
    background-color: #f5f5f5;
    font-weight: 700;
    color: #001031;
}

table tbody {
    background-color: #ffffff;
}

table tr {
    height: 40px;
}

table tbody tr:hover {
    background-color: rgba(26, 164, 200, .2);
    cursor: pointer;
}

table th,
table td {
    padding: 0 16px;
    border-bottom: 1px solid #afafaf;
}

.number-marin {
    text-align: center;
}

.number-left {
    text-align: left;
}

.number-left-name {
    text-align: end;
    color: #03AE66;
}

.checkbox-table{
    width: 13px;
    height: 13px;
}